/* Reset Styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/bg-1.jpg); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    background-position: center;
    color: white; /* Set the default text color on top of the background */
}

header {
    /*background-color: rgba(51, 51, 51, 0.8);*/  /* Use rgba for a semi-transparent background color */
    height: 80px; 
    color: blue;
     text-align: left;
     padding: 0rem calc((100vw - 1300px) / 2);
     justify-content: space-between;
     display: flex;
     align-items: center;
}

.logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

h1 {
    flex-grow: 1;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #007BFF;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightblue; /* Add a semi-transparent white background for content */
    border-radius: 10px; /* Optional: Add rounded corners to the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

#hero {
    text-align: center;
    margin-bottom: 30px;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#hero p {
    font-size: 18px;
}

#quotes {
    text-align: center;
    margin-top: 30px;
}

#quotes h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

blockquote {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
